body {
    position: absolute;
    top: 50%;
    left: 50%;
}

.shadow {
    filter: drop-shadow(0 0 3px #000);
}

input[type="username"] {
    height: auto;
    line-height: normal;
    padding: .8em .5em;
}